* {
    font-family: Roboto;
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding-top: 63px;
}

.logo {
    font-size: 80px;
    display: block;
}

.logo__item {
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 334px;
    height: 79px;
}

.logo-item1 {
    color: rgba(0, 0, 0, 1)

}

.logo-item2 {
    color: rgba(75, 202, 255, 1);
}

nav {
    background-color: rgba(53, 68, 79, 1);
    margin-top: 38px;
}

.nav__main {
    list-style-type: none;
    display: flex;
    height: 72px;
    justify-content: center;
    font-size: 24px; 
}

.nav-item {
    display: flex;
    height: 72px;
    text-decoration: none;
    color: #FFFFFF;    
    align-items: center;
    border-left: 1px solid #FFFFFF; ;
}

.link1 {
    padding: 0 32px;
}

.link2 {
    padding: 0 38px;    
}

.link3 {
    padding: 0 40px;    
}

.link4 {
    border-right: 1px solid #FFFFFF; 
    padding: 0 40px; 
}

.nav-item:hover {
    background-color: #222F3A;
}

.main__wrapper {
    display: flex;
}

.aside__main {
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
    list-style-type: none;
    margin-top: 48px;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

.aside-link {
    display: flex;
    width: 342px;
    height: 79px;
    text-decoration: none;
    color: #485863; 
    padding-left: 44px;
    align-items: center
}

.aside-link:hover {
    background-color: #DBDBDB;
    font-weight: bold;
    padding-left: 70px;
}

.main__content {
    margin-left: 52px;
} 

.main__image {
    display: flex;
    margin-top: 48px;
    align-items: center;
    justify-content: center;
    width: 884px;
    height: 529px;
    border: 1px solid #000000;
}

.image-hover:hover {
    transition: 800ms;
    transform: scale(1.1);
}

p {
    margin-top: 34px;
}

footer {
    margin-top: 54px;
    background-color: rgba(99, 105, 110, 0.48);
    height: 69px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.footer__item {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 875px;
}

.footer-link {
    text-decoration: none;
    color: #010101;
    font-size: 28px;
}

.footer-text {
    width: 190px;
    font-size: 24px;   
}

.footer-link:hover {
    color: rgba(49, 129, 166, 1);
    text-decoration: underline;
    text-underline-offset: 13px;
}

